@mixin btn-position () {
    position: absolute;
    top: 5%;
    height: 2rem;
}
@mixin btn-colors ($background, $color) {
    background-color: $background;
    color: $color;
}
@mixin hide ($value) {
    display: $value;
}

    

#title {
    color: white;
    font-size: 4vh;
    width: 100%;
}
body {
    background-color: rgba(0, 0, 0, 0.863);
}
.container {
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: rows;
    align-items: flex-end;
}
nav{
    height: 12vh;
    width:100%;
    background: blueviolet;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    float: left;
}
.sorts_type {
    position: absolute;
    top: 4%;
    left: 25%;
    width: 40%;
    text-align: center;
}
/* For all the buttons */
button {
    @include btn-colors (rgb(70, 175, 175), white);
}
.AllSortsBtn {
    width: 70px;
    height: 50px;
    border-radius: 15%;
    margin-right: 2%;
    // background-color: black; 
}

#sortBtn {
    left: 94%;
    width: 3rem;
    @include btn-position();
}
/* ---  All the rectangles' styles--- */
/* -- radomize button --*/
#randomize {
    @include btn-position();
    left: 85%;
}
/* -- SpeedBar start -- */
#speed-div {
    position: absolute;
    left: 73%;
    top: 3.5%;
    // height: 2rem;   
    text-align: center;
    color: wheat;
}
/* --- end --- */

/* -- sizebar start -- */
#size-div {
    position: absolute;
    left: 62%;
    top: 3.5%;  
    text-align: center;
    color: wheat;
}
/* --- end --- */
#Sorts {
    @include hide(none);
    // background: cadetblue;
}
#adjust {
    @include hide(none);
}
#act {
    @include hide(none);
}

/* --- Responsive Design for Mobile Device --- */
@media only screen and (max-width: 1000px) {
    #title {
        position: absolute;
        left: 5%;
        width: 25vw;
        font-size: 160%;
    }
    .sorts_type {
        position: absolute;
        top: 4%;
        left: 30%;
        width: 20%;
        background-color: antiquewhite;
    }

    #Sorts {
        display: block;
    }
    .AllSortsBtn {
        display: none;
        margin: auto;
    }
    #adjustment {
        position: absolute;
        top: 4%;
        left: 52%;
        width: 25%;
        // height: 25%;
        background: rgb(62, 194, 194);
    }
    .speed-size {
        @include hide(none);
    }
    #size-div {
        position: relative;
        left: 0%;
    }
    #speed-div {
        position: relative;
        left: 0%;
    }
    #adjust {
        display: block;
        text-align: center;
    }

    /* action */
    #action {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 78%;
        top: 4%;
        width: 20%;
        background: chocolate;
    }
    #action li {
        @include hide(none);
    }
    #sortBtn {
        position: relative;
        left: 35%;
        width: 50%;
    }
    #randomize {
        position: relative;
        left: 22%;
        width: 70%;
        font-size: 70%;
    }
    #act {
        display: block;
        text-align: center;
    }
}
